:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #333;
  background-color: #f4f4f9;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}