.container {
  padding: 20px; /*Cria um espaço interno de 20 pixels em todos os lados*/
  font-family: sans-serif;
  background-color: #f4f4f9;
}

.grid {
  display: grid; /*Ativa o sistema moderno de grade do CSS. Permite organizar elementos em linhas e colunas.*/
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /*cria responsividade automática /Crie quantas colunas couberem na tela (auto-fill).*/
  gap: 1.5rem; /*Define o buraco/espaço entre os cards*/
  margin-bottom: 3rem;
}

.card {
  background: white;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: transform 0.2s;
}

.card:hover { /*O que acontece quando o usuário passa o mouse por cima do elemento*/
  transform: translateY(-5px);
}

.card h3 {
  margin-top: 0;
  color: #333;
  border-bottom: 2px solid #eee;
  padding-bottom: 10px;
}

.poke-card {
  text-align: center; /*Centraliza todo o texto e imagens dentro dos cards*/
}

.poke-card img {
  width: 100px;
  height: 100px;
}

.bad-grade { border-left: 5px solid #ff4d4d; }
.good-grade { border-left: 5px solid #2ecc71; }

.price {
  font-weight: bold; /*Deixa a fonte em negrito.*/
  color: #2c3e50;
  font-size: 1.2rem;
}

.desculpa {
  font-size: 0.8rem;
  color: #666;
  background: #fff5f5;
  padding: 5px;
  border-radius: 4px;
}
